<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title DevOps example
    link(rel="stylesheet", href="./style/styles.css")
  body
    h1#title.title
      | DevOps Example project
    button#btn.btn
      | Click me
    script(src="./js/index.js")
    